%header_bars {
  font-size: 1.15rem;
  line-height: 1;
  text-transform: uppercase;
  min-height: inherit;
  margin: 0;
  padding: 0 15px;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 4;
  transform: translateX(0);
  transition: background 0.3s $cb,transform 0.3s,box-shadow 1s !important;

  > ul {
    list-style: none;
    margin: 0;
    -webkit-padding-start: 0;

    > li {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;

      > a:hover,
      > a:focus {
        background-color: transparent !important;
      }

      &.last > a:before {
        display: none !important;
      }

      a {
        padding: 7px 15px;
        cursor: pointer;
        line-height: 26px;
        display: inline-block;
        transition: color 350ms $cb;
        position: relative;

        span {
          transition: color 350ms $cb;
        }

        &.header-button {
          padding: 1px 15px;
        }

      }

      &.social-media {

        a {
          font-size: 14px;
          padding: 12px 5px 13px !important;
          line-height: 10px;
          display: inline-block;
          vertical-align: middle;

          &:before {
            font-size: 14px !important;
            position: static !important;
            margin: 0 !important;
          }

          &:first-child {
            padding-left: 0 !important;
          }
        }
      }

      &.menu-item {
        position: relative;

        > a {
          background-color: transparent;
          padding-left: 10px;
          display: block;

          &:before {
            width: 1px;
            height: auto;
            position: absolute;
            top: 15px;
            right: -5px !important;
            bottom: 15px;
            content: "";
            transform: none;
            opacity: .3;
            transition: background .3s $cb;
          }
        }

        .sub-menu {
          position: absolute;
          min-width: 100%;
          left: 0;
          top: 100%;
          margin: 0;
          padding: 10px 0;
          list-style: none;
          opacity: 0;
          transform: scaleY(0);
          z-index: -2;
          transform-origin: top left;
          transition: all 350ms $cb;

          li {
            float: none;
            opacity: 0;
            line-height: 29px;
            transition: opacity 350ms $cb;
            transition-delay: 200ms;

            a {
              padding: 0 15px;
              display: block;
              transition: color 350ms $cb;
            }

            &:before,
            &:after {
              display: none;
            }
          }

          &:before {
            position: absolute;
            content: "";
            display: block;
            border-bottom: 2px solid;
            top: -2px;
            left: 50%;
            right: 50%;
            z-index: 4;
            transition: all 150ms $cb;
            transition-delay: 0ms;
          }
        }

        &:hover {

          .sub-menu {
            margin-top: 2px;
            opacity: 1;
            transform: scaleY(1);
            z-index: 4;

            li {
              opacity: 1;
            }

            &:before {
              left: 0;
              right: 0;
              transition-delay: 250ms;
            }
          }
        }

        &.menu-item-has-children {

          > a {
            padding-right: 30px;

            span.mobile-arrow {

              &:before,
              &:after {
                content: '';
                display: block;
                height: 1px;
                width: 6px;
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -1px;
                transition: all .3s $cb;
                transform: rotate3d(0, 0, 1, 45deg);
              }

              &:after {
                right: 11px;
                transform: rotate3d(0, 0, 1, -45deg);
              }

            }

          }

        }

        &.simple-menu-item {

          li a {
            &:after {
              bottom: 0;
              left: 10%;
              right: 90%;
              height: 1px;
              width: inherit;
              position: absolute;
              content: "";
              transition: right 200ms $cb, left 400ms $cb;
            }
            &:hover:after {
              right: 9%;
              left: 91%
            }
          }

        }

      }

      &.search-box {
        padding: 4px 0;

        form {
          height: 32px;
        }
      }

      // MY ACCOUNT MENU && MY FAVORITES MENU
      &.dropdown-hover {

        .dropdown-menu {
          top: 100%;
          border: none;
          transform: scaleY(0);
          z-index: -2;
          transform-origin: top left;

          li {
            position: relative;
            opacity: 0;
            transition: opacity 350ms $cb;
            transition-delay: 200ms;

            a {
              font-size: 1.15rem;
              padding: 4px 20px;

              &:hover {
                background: transparent !important;
              }

              &:after {
                bottom: 0;
                left: 10%;
                right: 90%;
                height: 1px;
                width: inherit;
                position: absolute;
                content: "";
                transition: right 200ms $cb, left 400ms $cb;
              }

              &:hover:after {
                right: 9%;
                left: 91%
              }
            }
          }

          &:before {
            position: absolute;
            content: "";
            display: block;
            border-bottom: 2px solid;
            top: -2px;
            left: 50%;
            right: 50%;
            z-index: 4;
            transition: all 150ms $cb;
            transition-delay: 0ms;
          }

        }

        &:hover .dropdown-menu {
          margin-top: 2px;
          opacity: 1;
          transform: scaleY(1);
          z-index: 4;

          li {
            opacity: 1;
          }

          &:before {
            left: 0;
            right: 0;
            transition-delay: 250ms;
          }

        }
      }

      &.favorites .dropdown-menu {
        li a {
          padding-left: 15px;
          position: relative;

          .wishlist-counter {
            width: 15px;
            height: 15px;
            padding: 2px 0;
            line-height: 1;
            font-size: 12px;
            letter-spacing: -.01em;
            text-align: center;
            color: #fff !important;
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -7px;
          }
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

    }

    &.flex-right {
      .dropdown-hover:last-child .dropdown-menu,
      .dropdown-hover.icon-only:nth-last-child(2) .dropdown-menu {
        left: inherit;
        right: -20px;
      }

      > li.menu-item:last-child .sub-menu {
        left: inherit;
        right: 0;
      }
    }

  }

}

.navbar-bottom {
  @extend %header_bars;

  &.shadow {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  &.hide-shadow-top {
    box-shadow: none !important;
  }

  &.transparent:not(.sticky) {
    background-color: rgba(0, 0, 0, 0.02) !important;
  }
}

.bottom-bar-is-fixed header.bottom {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  position: sticky;
  position: -webkit-sticky;
}

.admin-bar {
  &.bottom-bar-is-fixed {
    header.bottom {
      top: 32px; /* adminbar */
    }

    &.top-bar-is-fixed {

      header.bottom {
        top: 72px; /* adminbar + topbar */
      }

      &.nav-is-fixed header.bottom {
        top: 142px; /* adminbar + topbar + header */
      }

    }

    &.nav-is-fixed header.bottom {
      top: 102px; /* adminbar + header */
    }
  }
}

.top-bar-is-fixed {
  &.bottom-bar-is-fixed {
    header.bottom {
      top: 40px; /* topbar */
    }
    &.nav-is-fixed header.bottom {
      top: 110px; /* topbar + header */
    }
  }
}
.nav-is-fixed.bottom-bar-is-fixed header.bottom { top: 70px; /* header */ }