.nav-header {
	padding: 0 15px;

	> ul {
		list-style: none;
		margin: 0;
		-webkit-padding-start: 0;

		> li {
			float: none;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;

			a {
				text-transform: uppercase;
				font-size: 13px;
			}

			&.menu-item {
				margin: 0;
			}

			&.message-box {
				padding: 13px 15px;
			}

			&.action-button {

				> a {

					span.item-counter {
						top: 8px;
					}

					&.icon-shopping-bag {
						span.item-counter {
							top: 10px;
						}
					}
				}

			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

	}

	&.center_logo_split_menu {

		.flex-left {

			.dropdown-hover {

				.dropdown-menu { right: inherit; left: 0; }

			}

		}

	}

	&.left_content {
		.logo {
			margin-right: 50px;
		}
	}
	
	&.center_content {
		.logo {
			margin-right: auto;
		}
		.flex-left {
			margin: 0 auto;
			text-align: center;
		}
		.flex-right {
			text-align: right;
		}
	}
	
	&.right_content {
		justify-content: flex-end;

		.logo {
			margin-right: auto;
		}
		.flex-left {
			margin-left: auto;
		}
		.flex-right {
			margin-left: 50px;
		}
	}

	&:after { clear: both; content: ""; display: table; }

}