.nav-header {
	padding: 0 15px;
	z-index: 3;
	transition: background .3s $cb, transform .3s, box-shadow 1s !important;

	> ul {
		list-style: none;
		margin: 0;
		position: relative;
		-webkit-padding-start: 0;

		> li {
			float: none;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;

			a {
				text-transform: uppercase;
				font-size: 13px;
			}

			&.menu-item {
				margin: 0;
			}

			&.message-box {
				padding: 13px 15px;
			}

			&.action-button {
				padding: 15px 0;

				> a {
					font-size: 12px;
				}

				&.search {
					padding: 0;
				}
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&.flex-right {
			.dropdown-hover:last-child .dropdown-menu {
				left: inherit;
				right: -20px;
			}

			> li.menu-item:last-child .sub-menu {
				left: inherit;
				right: 0;
			}
		}

	}

	&.center_logo_split_menu {

		.flex-left {

			.dropdown-hover {

				.dropdown-menu {
					right: inherit;
					left: 0;
				}

			}

		}

	}

	&.left_content {
		.logo {
			margin-right: 50px;
		}
	}
	
	&.center_content {
		.logo {
			margin-right: auto;
		}
		.flex-left {
			margin: 0 auto;
			text-align: center;
		}
		.flex-right {
			text-align: right;
		}
	}
	
	&.right_content {
		justify-content: flex-end;

		.logo {
			margin-right: auto;
		}
		.flex-left {
			margin-left: auto;
		}
		.flex-right {
			margin-left: 50px;
		}
	}

	&:after {
		clear: both;
		content: "";
		display: table;
	}

}

.nav-header.transparent,
.scrolled .nav-header {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.nav-is-fixed .nav-header {
	top: 0;
	left: 0;
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
}

.top-bar-is-fixed.nav-is-fixed .nav-header {
	top: 40px;
}