body.admin-bar .navbar-fixed-top { top: 32px; }

.navbar-top { font-size: 1.15rem; line-height: 1; text-transform: uppercase; height: $topbar-height; min-height: inherit; margin: 0; padding: 0 15px; border: none; border-radius: 0; z-index: 4; transform: translateX(0); transition: transform .3s;
	
	> ul { 
		list-style: none;
		margin: 0;
		-webkit-padding-start: 0;

		li { 
			float: none; 
			display: inline-block;
			vertical-align: top;

			a { padding: 15px 15px 14px; transition: color 350ms $cb; cursor: pointer;

				span { transition: color 350ms $cb; }

				&:hover { background-color: transparent !important; }
				&:focus { background-color: transparent !important; }

			}

			&.social-media { 
				padding-right: 10px; 
				margin-left: -10px;

				a { 
					font-size: 14px; 
					padding: 13px 5px !important; 
					line-height: 10px; 
					display: inline-block;

					&:before { 
						font-size: 14px !important; 
						position: static !important; 
						margin: 0 !important; 
					}
				}
			}

			&.menu-item {
				position: relative;

				> a { 
					padding: 6px 30px 8px 15px;
					display: block;

					&:before,
					&:after { height: 2px; width: 6px; right: 15px; transform-origin: 50% -1px; }
				}

				.sub-menu { 
					position: absolute; 
					min-width: 100%; 
					left: 0; 
					top: 100%; 
					margin: 0; 
					padding: 10px 0; 
					list-style: none; 
					opacity: 0; 
					transform: scaleY(0); 
					z-index: -2; 
					transform-origin: top left; 
					transition: all 350ms $cb;

					li { 
						float: none; 
						opacity: 0; 
						transition: opacity 350ms $cb; 
						transition-delay: 200ms;

						a { 
							padding: 0 15px; 
							display: block; 
							transition: color 350ms $cb;

							&:after { bottom: 0; left: 10%; right: 90%; height: 1px; width: inherit; position: absolute; content: ""; transition: right 200ms $cb, left 400ms $cb; }
							&:hover:after { right: 9%; left: 91% }
						}

						&:before,
						&:after {
							display: none;
						}
					}

					&:before { 
						position: absolute; 
						content: ""; 
						display: block; 
						border-bottom: 2px solid; 
						top: -2px; 
						left: 50%; 
						right: 50%; 
						z-index: 4; 
						transition: all 150ms $cb; 
						transition-delay: 0ms; 
					}
				}

				&:hover {

					.sub-menu { 
						margin-top: 2px; 
						opacity: 1; 
						transform: scaleY(1); 
						z-index: 4;

						li { 
							opacity: 1; 
						}

						&:before { 
							left: 0; 
							right: 0;
							transition-delay: 250ms; 
						}
					}
				}

				&.menu-item-has-children {

					> a:before,
					> a:after { content: ''; background-color: #fff; display: block; height: 1px; width: 6px; position: absolute; right: 13px; top: 50%; margin-top: -1px; transition: all .3s $cb; transform: rotate3d(0,0,1,45deg); }

					> a:after { right: 11px; transform: rotate3d(0,0,1,-45deg); }

				}

				&:after { background: $dark-grey-divider; width: 1px; position: absolute; top: 15px; right: 0; bottom: 15px; content: ""; }
				
				&:last-child:after { display: none; }

			}

		}

	}

	li.message-box { letter-spacing: -0.03em; padding: 15px 15px 14px; margin: 0 15px; line-height: 1;}

	.navbar-right {

		> li { float: right;

			> a { background: none !important; border: none !important; position: relative; padding: 10px 13px 10px 44px; }
			> a:before { font-size: 24px; position: absolute; left: 12px; top: 50%; margin-top: -11px; }

		}

		> li.cart { margin-right: -15px;

			> a { padding-left: 43px; }
			> a:before { font-size: 19px; left: 14px; }

			> a span.item-counter { padding: 2px 0; line-height: 1; font-size: 11px; letter-spacing: -0.01em; text-align: center; display: block; position: absolute; left: 14px; top: 15px; width: 19px; }

		}

		> li.wishlist {

			> a span.item-counter { padding: 2px 0; line-height: 1; font-size: 11px; letter-spacing: -0.01em; text-align: center; display: block; position: absolute; left: 14px; top: 14px; width: 20px; }

		}

		> li.account {

			> a { padding-left: 39px; }
			> a:before { font-size: 27px; margin-top: -13px; left: 8px; }

		}

		// MY ACCOUNT MENU && MY FAVORITES MENU
		.dropdown-hover .dropdown-menu { position: absolute; min-width: 100%; left: 0; right: inherit; display: block; top: 100%; margin: 0; padding: 10px 0; border: none; border-radius: 0; box-shadow: none; list-style: none; opacity: 0; transform: scaleY(0); z-index: -2; transform-origin: top left; transition: all 350ms $cb;

			li { position: relative; opacity: 0; transition: opacity 350ms $cb; transition-delay: 200ms; }

			li a { font-size: 1.15rem; padding: 8px 20px; }
			li a:after { bottom: 0; left: 10%; right: 90%; height: 1px; width: inherit; position: absolute; content: ""; transition: right 200ms $cb, left 400ms $cb; }
			li a:hover:after { right: 9%; left: 91% }
		}

		.dropdown-hover .dropdown-menu:before { position: absolute; content: ""; display: block; border-bottom: 2px solid; top: -2px; left: 50%; right: 50%; z-index: 4; transition: all 150ms $cb; transition-delay: 0ms; }
		.dropdown-hover:hover .dropdown-menu:before { left: 0; right: 0; transition-delay: 250ms; }

		.dropdown-hover:hover .dropdown-menu { margin-top: 2px; opacity: 1; transform: scaleY(1); z-index: 4;

			li { opacity: 1; }

		}


		// MY FAVORITES MENU
		.favorites .dropdown-menu {
			li a { padding-left: 15px; position: relative;
				.wishlist-counter { width: 15px; height: 15px; padding: 2px 0; line-height: 1; font-size: 12px; letter-spacing: -.01em; text-align: center; color: #fff!important; display: block; position: absolute; right: 15px; top: 50%; margin-top: -7px; }
			}
		}
	}
}


// MEDIA QUERIES
/* Screen less than or equal to than 1099 pixels */
@media only screen and (max-width: 1099px) {

	.navbar-top {

		.navbar-right {

			> li {

				> a { height: 40px; width: 40px; display: block; padding: 0;

					span { display: none; }

				}

			}

			.dropdown-hover .dropdown-menu { left: inherit; right: 0; }

		}

	}

}
