.navbar-top {
  @extend %header_bars; // Located in _bottom-bar.scss
  z-index: 6 !important;

  > ul {
    line-height: 40px !important;

    > li {
      vertical-align: top !important;

      &.sep {
        vertical-align: middle !important;
      }
    }

  }

}

.top-bar-is-fixed .navbar-top.navbar-fixed-top {
  top: 0;
  position: fixed;
}

.admin-bar.top-bar-is-fixed .navbar-top.navbar-fixed-top {
  top: 32px;
}