html {
  height: 100%;
}

body {
  font-size: 14px;
  color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &.no-scroll {
    overflow: hidden;
  }

}

::selection,
::-moz-selection {
  background: rgba(232, 168, 72, 0.3);
  color: #fff;
}

a:hover,
a:focus {
  outline: none !important;
  text-decoration: none;
}

.clearfix {
  display: block;
  clear: both;
}

.custom.tp-bullets {

  .tp-bullet {
    background: #b2b2b2;
    width: 50px;
    height: 4px;
  }

  .tp-bullet:first-child:last-child {
    display: none;
  }

}

.select2-container--open {
  z-index: 9999;
}

#{$main_elements} { position: relative; transition: transform 0.3s; }

#{$main_elements_visible} { transform: translateX(-260px) !important;   }
