// Glyphicons font path
$icon-font-path:        "../fonts/";

// Animation
$cb: cubic-bezier(0.7, 0, 0.3, 1);

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Heights
$menu-height:			160px;
$fixed-menu-height:		80px;
$topbar-height:			40px;

// Colors
$bg-grey:				#f7f8f9;
$lighter-grey:			#f4f4f4;
$light-grey:			#ededed;
$dark-grey:				#363636;
$dark-grey-divider:		#525252;
$red:					#cd4436;
$green:					#93af76;
$turquoise:				#1db28e;
$orange:				#ff5c1e;
$purple:				#bb3a6b;
$blue:					#3c5a96;
$yellow:				#e8a848;

// Responsive
$mobile-width:          600px;
$tablet-width:          1100px;
$desktop-width:         1440px;

$screens:               desktop tablet mobile;

// Element to animate for the offcanvas menu
$main_elements:         '#page-content, section.cd-hero, #header-slider, .nav-header';
$main_elements_visible: '.navbar-bottom, .navbar-top, section.cd-hero, #page-content, #header-slider, .nav-header';