body.archive {

  .select2-container .select2-dropdown ul.select2-results__options li.select2-results__option {
    font-size: 13px;
    letter-spacing: -0.05em;
    text-transform: none;
    line-height: 1;
    padding: 14px 13px;
  }

}