$main_elements: '#page-content, section.cd-hero, #header-slider, .nav-header';
$main_elements_visible: '.navbar-top.nav-is-visible, section.cd-hero.nav-is-visible, #page-content.nav-is-visible, #header-slider.nav-is-visible, .nav-header.nav-is-visible';

#{$main_elements} { position: relative; transition: transform 0.3s; }

.nav-header { z-index: 3; transition: background 300ms $cb, transform .3s, box-shadow 1s;  }

.nav-is-fixed .nav-header { top: 0; left: 0; width: 100%; position: sticky; position: -webkit-sticky; }

.top-bar-is-fixed.nav-is-fixed .nav-header { top: 40px; }

html:not(.search-form-visible) .nav-header.transparent:not(.fixedsticky-on) { background-color: rgba(0,0,0,0.02) !important;

	.brand {

		img.default { opacity: 0; }

		img.for-transparent-header { opacity: 1; }

	}

}

.nav-header.transparent,
.scrolled .nav-header { box-shadow: 0 1px 0 rgba(0,0,0,0.06); }

.header-buttons { position: absolute; display: inline-block; top: 0; right: 2%; padding: 0;

	li { display: inline-block; }

	.search-button,
	.nav-button { position: relative; display: block; white-space: nowrap; }

	.search-button {

	}

	.search-button.search-is-visible {


	}

	.search-button.search-is-visible:before,
	.search-button.search-is-visible:after { opacity: 0; }

	.nav-button {

		span,
		span:before,
		span:after { position: absolute; display: inline-block; height: 2px; width: 20px; border-radius: 2px; }

		span { position: absolute; top: 50%; right: 15px; margin-top: -1px; transition: background 0.3s 0.3s; display: block !important; }

		span:before,
		span:after { content: ''; right: 0; transform: translateZ(0); backface-visibility: hidden; transform-origin: 0% 50%; transition: transform 0.3s 0.3s; }

		span:before { top: -5px; }

		span:after { top: 5px; }

	}

	.nav-button.nav-is-visible {

		span { background-color: rgba(46, 50, 51, 0) !important;

			&:before { transform: translateX(4px) translateY(-2px) rotate(45deg); }

			&:after { transform: translateX(4px) translateY(2px) rotate(-45deg); }

		}

	}

}

.header-buttons.fullwidth {

	.dropdown-hover .dropdown-menu { top: 100%; margin-top: -2px; }

}









/* Screen less than or equal to than 1099 pixels */
@media only screen and (max-width: 1099px) {

	.nav-header { height: 50px; }

	.nav-header:before { display: none; content: 'mobile'; }

	.nav-header.center_logo_split_menu {

		.header-buttons.left {

			.dropdown-hover {

				.dropdown-menu { right: inherit; left: 0; }

			}

		}

	}

	#{$main_elements_visible} { transform: translateX(-260px) !important;   }

	.primary-nav,
	.primary-nav ul { background-color: #2e3233 !important;

		li { padding: 0; width: 100%;

			&.menu-item-has-children { height: auto !important; position: relative;

				> a span.mobile-arrow { position: absolute; width: 50px; height: 100%; right: 0; top: 0; display: block; border-left: 1px solid #3a3f40;

					&:before,
		  			&:after { background-color: #5F6667 !important; content: ''; display: block; height: 2px; width: 8px; position: absolute; right: 20px !important; top: 22px !important; transition: all .3s $cb; transform: rotate3d(0,0,1,45deg); opacity: 0.5; }

		  			&:hover:before,
		  			&:hover:after { background-color: #fff !important; opacity: 1; }

		  			&:after { top: 27px !important; transform: rotate3d(0,0,1,-45deg); }

				}

				.row { height: auto !important; }

				.sub-menu {

					> img.menu-image { display: none; }

				}

	  		}

			a { color: #bbb !important; padding: 10px 20px;

				i { color: #bbb !important; margin-right: 10px; font-size: 20px; vertical-align: sub; }

				&:hover,
				&.selected { color: #fff !important;

					i { color: #fff !important; }

				}

				&.has-img {

					img.menu-image { margin-bottom: 10px; }

				}

				&.no-margin { padding: 0 !important; text-indent: 20px;

					img.menu-image { margin-bottom: 0; }

				}

				&.no-margin.text-hidden { padding: 0 !important; text-indent: 0; }

				&.text-hidden {

					img.menu-image { margin-top: 0; margin-bottom: 0; }

				}

				span.badge { display: none;}

			}

			&.go-back {

				a:before,
				a:after { background-color: #bbb !important; }

				a:hover:before,
				a:hover:after { background-color: #fff !important; }

			}

			&.hide-img-mobile { background-image: none !important;

				a img { display: none; }

			}

			&.hide-text-mobile { display: none; }

		}

	}

	.primary-nav { transform: translateX(260px); transition: transform .3s; }

	.primary-nav.nav-is-visible { transform: translateX(0); }

	.header-buttons { right: 0;

		> li { float: right; text-align: center;

			> a { width: 50px; height: 50px; padding: 10px; display: inline-block;

				span:not(.item-counter) { display: none; }

			}

		}

		li.cart { font-size: 21px;

			a { padding: 13px 15px;

				.item-counter { position: absolute; top: 14px; left: 14px; width: 22px; font-size: 12px; }

			}

		}

		li.wishlist { font-size: 26px;

			a { padding: 13px; position: relative;

				.item-counter { position: absolute; top: 13px; left: 14px; width: 23px; font-size: 11px; }

			}

		}

		li.account { font-size: 29px;

			a { padding: 11px;  }

		}

		li.search { font-size: 23px;

			a { padding: 13px; }

		}

	}

	.header-buttons.left { left: 0; right: inherit; }

	.nav-on-left {

		#{$main_elements_visible} { transform: translateX(260px); }

		.header-buttons { right: auto; left: 5%;

			li { float: right; }

		}

		.primary-nav,
		.primary-nav ul { right: auto; left: 0;

			a { text-overflow: ellipsis; }

		}

		.primary-nav { visibility: hidden; transition: visibility 0s 0.3s; }

		.primary-nav.nav-is-visible { visibility: visible; transition: visibility 0s 0s; }

		.cd-overlay.is-visible { transform: translateX(260px); }

	}

	.cd-overlay.is-visible { transform: translateX(-260px); }

	.cd-overlay.is-visible.search-is-visible { transform: translateX(0); }

}

