$main_elements: '#page-content, section.cd-hero, #header-slider, .nav-header';
$main_elements_visible: '.navbar-top.nav-is-visible, section.cd-hero.nav-is-visible, #page-content.nav-is-visible, #header-slider.nav-is-visible, .nav-header.nav-is-visible';

#{$main_elements} { position: relative; transition: transform 0.3s; }

.nav-header { z-index: 3; transition: background 300ms $cb, transform .3s, box-shadow 1s;  }

.nav-is-fixed .nav-header { top: 0; left: 0; width: 100%; position: sticky; position: -webkit-sticky; }

.top-bar-is-fixed.nav-is-fixed .nav-header { top: 40px; }

html:not(.search-form-visible) .nav-header.transparent:not(.fixedsticky-on) { background-color: rgba(0,0,0,0.02) !important;

	.brand {

		img.default { opacity: 0; }

		img.for-transparent-header { opacity: 1; }

	}

}

.nav-header.transparent,
.scrolled .nav-header { box-shadow: 0 1px 0 rgba(0,0,0,0.06); }

.brand { width: 130px; left: 2%; height: 100%; margin: 0; display: inline-block; position: absolute; z-index: 4;

	img { position: absolute; left: 0; top: 50%; transform: translate3d(0,-50%,0); display: block; height: 44px; opacity: 1; transition: opacity 0s  $cb; }

	img.for-transparent-header { opacity: 0; }

}

.header-buttons { position: absolute; display: inline-block; top: 0; right: 2%; padding: 0;

	li { display: inline-block; }

	.search-button,
	.nav-button { position: relative; display: block; white-space: nowrap; }

	.search-button {

	}

	.search-button.search-is-visible {


	}

	.search-button.search-is-visible:before,
	.search-button.search-is-visible:after { opacity: 0; }

	.nav-button {

		span,
		span:before,
		span:after { position: absolute; display: inline-block; height: 2px; width: 20px; border-radius: 2px; }

		span { position: absolute; top: 50%; right: 15px; margin-top: -1px; transition: background 0.3s 0.3s; display: block !important; }

		span:before,
		span:after { content: ''; right: 0; transform: translateZ(0); backface-visibility: hidden; transform-origin: 0% 50%; transition: transform 0.3s 0.3s; }

		span:before { top: -5px; }

		span:after { top: 5px; }

	}

	.nav-button.nav-is-visible {

		span { background-color: rgba(46, 50, 51, 0) !important;

			&:before { transform: translateX(4px) translateY(-2px) rotate(45deg); }

			&:after { transform: translateX(4px) translateY(2px) rotate(-45deg); }

		}

	}

	.dropdown-menu { border-radius: 0; box-shadow: none; display: block; }

	.dropdown-hover .dropdown-menu { position: absolute; min-width: 100%; right: 0; left: inherit; top: calc(100% + 30px); margin: 0; padding: 10px 0; border: 1px solid #eee; list-style: none; opacity: 0; visibility: hidden; z-index: 4; transition: all .3s $cb; box-shadow: 0 4px 10px rgba(0,0,0,0.06);

		li { position: relative; display: block; opacity: 0; transition: opacity 350ms $cb; transition-delay: 200ms;

			a { background: none; font-size: 12px; text-transform: uppercase; padding: 8px 20px;

				&:after { bottom: 0; left: 10%; right: 90%; height: 1px; width: inherit; position: absolute; content: ""; transition: right 200ms $cb, left 400ms $cb; }
				&:hover:after { right: 9%; left: 91% }

			}

		}
	}

	.dropdown-hover:hover {

		> a:after { transform: translate3d(50%,0,0) scale3d(1,1,1); opacity: 1; }

		.dropdown-menu { opacity: 1; visibility: visible; top: 100%;

			li { opacity: 1; }

		}

	}

}

.header-buttons.fullwidth {

	.dropdown-hover .dropdown-menu { top: 100%; margin-top: -2px; }

}

.nav-primary { display: inline-block; }

.primary-nav,
.primary-nav ul { position: fixed; top: 0; right: 0; height: 100%; width: 260px; padding: 0; margin: 0; overflow: auto; -webkit-overflow-scrolling: touch; z-index: 4; background-size: cover; background-position: 50% 50%;

	ul { transform: translateZ(0); transform: translateX(0); transition: transform 0.3s ease; }

	a,
	#search { display: block; line-height: 32px; padding: 0 20px;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; overflow: hidden; border-bottom: 1px solid #3a3f40; transform: translateZ(0); transition: transform 0.3s ease, color 0.3s $cb; }

	a.main-menu-link { text-transform: uppercase; font-size: 13px; }

	a.sub-menu-link:empty { display: none; }

	.sub-menu-item { position: static; }

}

.primary-nav.is-hidden,
.primary-nav ul.is-hidden { transform: translateX(100%); }

.moves-out > li > a,
.moves-out > .row > li > a,
.moves-out > li > #search { transform: translateX(-110%); }

.primary-nav {

	.cd-nav-gallery {

		.cd-nav-item { height: 80px; line-height: 80px; padding-left: 90px;

			h3 { overflow: hidden; text-overflow: ellipsis; }

			img { position: absolute; display: block; height: 40px; width: auto; left: 20px; top: 50%; margin-top: -20px; }

		}

	}

	.cd-nav-icons { @extend .cd-nav-gallery;

		.cd-nav-item { padding-left: 75px; content: ''; display: block; position: absolute; left: 20px; top: 50%; margin-top: -20px; width: 40px; height: 40px; background-repeat: no-repeat; background-position: center center; background-size: 40px 40px;

			p { color: #2e3233; font-size: 1.3rem; display: none; }

		}

		.cd-nav-item:before { @extend .cd-nav-item; }

	}

	.menu-item-has-children {

		.row { margin: 0; padding: 0; display: block; transition: height .3s $cb; }

		> a { position: relative; }

		.go-back a { position: relative; line-height: 26px;

			&:before,
			&:after { content: ''; position: absolute; top: 50%; margin-top: -1px; display: inline-block; height: 2px; width: 10px; backface-visibility: hidden; transition: all 0.3s $cb; }

			&:before { transform: rotate(45deg); }

			&:after { transform: rotate(-45deg); }

		}

	}

	.go-back {

		a { padding-left: 40px;

			&:before,
			&:after { left: 20px; transform-origin: 1px 50%; }
		}

	}

}

.cd-search { position: absolute; height: 50px; width: 100%; top: 50px; left: 0; z-index: 3; opacity: 0; visibility: hidden; transition: opacity .3s 0s, visibility 0s .3s;

	form { height: 100%; width: 100%; }

	input { border-radius: 0; border: none; background-color: #fff; height: 100%; width: 100%; padding: 0 5%; box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05); appearance: none; }

	input:focus { outline: none; }

}

.cd-search.is-visible { opacity: 1; visibility: visible; transition: opacity .3s 0s, visibility 0s 0s; }

.nav-is-fixed .cd-search { position: fixed; }

.cd-overlay { position: fixed; z-index: 2; height: 100%; width: 100%; top: 0; left: 0; cursor: pointer; background-color: rgba(105, 170, 111, 0.8); visibility: hidden; opacity: 0; backface-visibility: hidden; transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s; }

.cd-overlay.is-visible { opacity: 1; visibility: visible; transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s; }

/* --------------------------------

support for no js

-------------------------------- */
.no-js .primary-nav { position: relative; height: auto; width: 100%; overflow: visible; visibility: visible; z-index: 2; }

.no-js .cd-search { position: relative; top: 0; opacity: 1; visibility: visible; }



/* Screen less than or equal to than 799 pixels */
@media only screen and (max-width: 799px) {

	.navbar-top {

		li.social-media,
		.message-box { display: none; }

		li.nav-left-top { margin-left: -30px; }

		.navbar-left { float: left; margin: 0; }

		.navbar-right { float: right; margin: 0; }

	}

}


/* Screen less than or equal to than 1099 pixels */
@media only screen and (max-width: 1099px) {

	.nav-header { height: 50px; }

	.nav-header:before { display: none; content: 'mobile'; }

	.nav-header.center_logo-center_menu {

		.brand { opacity: 1; z-index: 3; left: 50%; margin-left: -5%; }

		.header-buttons.left {

			.dropdown-hover {

				.dropdown-menu { right: inherit; left: 0; }

			}

		}

	}

	.nav-header.top_logo-center_menu {

		.brand { left: 50%; margin-left: -5%; }

	}

	.nav-brand { display: none; }

	#{$main_elements_visible} { transform: translateX(-260px) !important;   }

	.primary-nav,
	.primary-nav ul { background-color: #2e3233 !important;

		li { padding: 0; width: 100%;

			&.menu-item-has-children { height: auto !important; position: relative;

				> a span.mobile-arrow { position: absolute; width: 50px; height: 100%; right: 0; top: 0; display: block; border-left: 1px solid #3a3f40;

					&:before,
		  			&:after { background-color: #5F6667 !important; content: ''; display: block; height: 2px; width: 8px; position: absolute; right: 20px !important; top: 22px !important; transition: all .3s $cb; transform: rotate3d(0,0,1,45deg); opacity: 0.5; }

		  			&:hover:before,
		  			&:hover:after { background-color: #fff !important; opacity: 1; }

		  			&:after { top: 27px !important; transform: rotate3d(0,0,1,-45deg); }

				}

				.row { height: auto !important; }

				.sub-menu {

					> img.menu-image { display: none; }

				}

	  		}

			a { color: #bbb !important; padding: 10px 20px;

				i { color: #bbb !important; margin-right: 10px; font-size: 20px; vertical-align: sub; }

				&:hover,
				&.selected { color: #fff !important;

					i { color: #fff !important; }

				}

				&.has-img {

					img.menu-image { margin-bottom: 10px; }

				}

				&.no-margin { padding: 0 !important; text-indent: 20px;

					img.menu-image { margin-bottom: 0; }

				}

				&.no-margin.text-hidden { padding: 0 !important; text-indent: 0; }

				&.text-hidden {

					img.menu-image { margin-top: 0; margin-bottom: 0; }

				}

				span.badge { display: none;}

			}

			&.go-back {

				a:before,
				a:after { background-color: #bbb !important; }

				a:hover:before,
				a:hover:after { background-color: #fff !important; }

			}

			&.hide-img-mobile { background-image: none !important;

				a img { display: none; }

			}

			&.hide-text-mobile { display: none; }

		}

		#search { background-color: rgba(255,255,255,0.2) !important; padding: 15px 20px;

			form { display: inline-block }

			input { background: none; color: #fff; }

		}

		#search:before { font-family: "fonticon" !important; font-size: 20px; color: #fff; float: left; padding: 7px 5px 7px 0; display: inline-block; content: "\77"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

	}

	.primary-nav { transform: translateX(260px); transition: transform .3s; }

	.primary-nav.nav-is-visible { transform: translateX(0); }


	.brand { height: 50px; left: 2%; }

	.header-buttons {

		> li { float: right; text-align: center;

			> a { width: 50px; height: 50px; padding: 10px; display: inline-block;

				span:not(.item-counter) { display: none; }

			}

		}

		li.menu { margin-right: -15px; }

		li.cart { font-size: 21px;

			a { padding: 13px 15px;

				.item-counter { position: absolute; top: 14px; left: 14px; width: 22px; font-size: 12px; }

			}

		}

		li.wishlist { font-size: 26px;

			a { padding: 13px; position: relative;

				.item-counter { position: absolute; top: 13px; left: 14px; width: 23px; font-size: 11px; }

			}

		}

		li.account { font-size: 29px;

			a { padding: 11px;  }

		}

		li.search { font-size: 23px;

			a { padding: 13px; }

		}

	}

	.header-buttons.left { left: 4%; right: inherit; }

	.nav-on-left {

		#{$main_elements_visible} { transform: translateX(260px); }

		.header-buttons { right: auto; left: 5%;

			li { float: right; }

		}

		.primary-nav,
		.primary-nav ul { right: auto; left: 0;

			a { text-overflow: ellipsis; }

		}

		.primary-nav { visibility: hidden; transition: visibility 0s 0.3s; }

		.primary-nav.nav-is-visible { visibility: visible; transition: visibility 0s 0s; }

		.cd-overlay.is-visible { transform: translateX(260px); }

	}

	.cd-overlay.is-visible { transform: translateX(-260px); }

	.cd-overlay.is-visible.search-is-visible { transform: translateX(0); }

}

/* Screen greater than or equal to than 1100 pixels */
@media only screen and (min-width: 1100px) {

	.nav-header:before { display: none; content: 'desktop'; }

	.nav-header {

		.header-buttons { top: 0; right: 2%; padding: 0; margin: 0;

			.nav-button { display: none; }

			> li { float: right;

				> a { background-color: none !important; border: none !important; position: relative; padding: 22px 5px 21px; display: block; transition: all .3s  $cb;
					span:not(.item-counter) { display: none; }
				}
				> a:before { font-size: 24px; }

			}

			> li.cart {

				> a { padding: 24px 0 17px 8px; }

				> a:before { font-size: 21px; }

				> a span.item-counter { padding: 2px 0; line-height: 1; font-size: 11px; letter-spacing: -0.01em; text-align: center; display: block; position: absolute; left: 7px; top: 31px; width: 22px; }

			}

			> li.wishlist {

				> a { padding-top: 23px; padding-bottom: 13px; padding-right: 10px; }

				> a:before { font-size: 26px; }

				> a span.item-counter { padding: 2px 0; line-height: 1; font-size: 11px; letter-spacing: -0.01em; text-align: center; display: block; position: absolute; left: 6px; top: 29px; width: 23px; }

			}

			> li.account {

				> a { padding-bottom: 11px; }

				> a:before { font-size: 29px; }

			}

			> li.search {

				> a { padding-top: 24px; padding-bottom: 14px; }

				> a:before { font-size: 23px; }

			}

		}

	}

	.nav-header:after { clear: both; content: ""; display: table; }

	.nav-header.left_logo-left_menu {

		.primary-nav { text-align: left; }

	}

	.nav-header.left_logo-right_menu {

		.primary-nav { text-align: right; }

	}

	.nav-header.center_logo-left_menu {

		.brand { left: 50%; margin-left: -5%;

			img { left: 50%; transform: translate3d(-50%,-50%,0); }

		}

		.nav-primary { padding: 0 10% 0 2%; width: 53%;

			.primary-nav { text-align: left;

				.mega-menu { width: 96vw; margin: 0 2vw 0 2vw; }

			}

		}

	}

	.nav-header.center_logo-center_menu {

		.brand { opacity: 0; z-index: -1;

			img { left: 50%; transform: translate3d(-50%,-50%,0); }

		}

		.nav-brand a:after { display: none; }

		.header-buttons.left { left: 2%; right: inherit; z-index: 6;

			.search .cd-search-trigger.search-form-visible { transform: translateX(30px); }

			.dropdown-hover {

				.dropdown-menu { right: inherit; left: 0; }

			}

		}

		.nav-primary { position: relative; z-index: 1;

			.primary-nav {

				.brand { position: relative; height: auto; display: block; opacity: 1; }

			}

		}

	}

	.nav-header.top_logo-center_menu {

		.brand{ position: relative; left: inherit; top: 10px; width: 10%; height: 50px; margin: 0 45% 3px;

			img { left: 50%; transform: translate3d(-50%,-50%,0); }

		}

		.primary-nav > li > a { padding-top: 12px; padding-bottom: 12px; }

	}

	.nav-header.top_logo-left_menu {

		.brand { position: relative; top: 10px; width: 10%; height: 50px; margin: 0 0 3px; }

		.nav-primary { padding: 0 2%;

			.primary-nav { text-align: left;

				.mega-menu { width: 96vw; margin: 0 2vw 0 2vw; }

			}

		}

	}

	.nav-primary { width: 100%; padding: 0 13%; }

	.primary-nav.fullwidth {

		.mega-menu,
	  	.cd-nav-gallery,
	  	.cd-nav-icons { top: 100%; width: 100vw; margin: 0; }

	}

	.primary-nav { position: static; padding: 0; list-style: none; text-align: center; height: auto; width: auto; overflow: visible; background-color: transparent;

		ul { position: static; height: auto; width: auto; background-color: transparent; overflow: visible; z-index: 3; }

		ul.is-hidden { transform: translateX(0); }

		ul.moves-out > li > a { transform: translateX(0); }

		> li { display: inline-block; text-align: left; vertical-align: middle;

	  		> a { position: relative; display: inline-block; padding: 19px 10px; overflow: visible; border-bottom: none; transition: color 0.3s, box-shadow 0.3s;

				span.badge { position: absolute; top: 5px; right: 0; margin-left: 0;

					&:before { border: 5px solid transparent; border-left-color: $red; left: 0; bottom: -4px; }

					&.trending { background: $blue;
						&:before { border-left-color: $blue; }
					}

					&.new { background: $green;
						&:before { border-left-color: $green; }
					}

					&.sale { background: $yellow;
						&:before { border-left-color: $yellow; }
					}

				}

				&.has-icon {

					i { font-size: 23px; vertical-align: sub; transition: color .3s $cb; }

				}
				&.icon-pos-icon-only { padding: 19px 15px; font-size: 0 !important; color: transparent !important;

					i { font-size: 26px; vertical-align: middle; }

				}
				&.icon-pos-above { padding-top: 8px; padding-bottom: 8px;

					i { display: block; text-align: center; line-height: 12px; padding-top: 10px;
						&:before { line-height: 12px; }
					}

				}
				&.icon-pos-below { padding-top: 8px; padding-bottom: 8px;

					i { display: block; text-align: center; line-height: 17px; padding-bottom: 5px;
						&:before { line-height: 16px; }
					}

				}
				&.icon-pos-left {

					i { margin-right: 8px; }

				}
				&.icon-pos-right {

					i { margin-left: 8px; }

				}

			}

	  		> a:after { content: ""; position: absolute; left: 50%; right: 50% !important; bottom: 0; height: 2px; display: block; transition: all .3s $cb; z-index: 3; }

	  		.go-back { display: none; }

		  	&:hover,
		  	&.current_page_item {

		  		> a:after { left: 0; right: 0 !important; }

		  	}

		}

		span.badge { background: $red; color: #fff !important; text-transform: uppercase; font-size: 10px; position: relative; top: -2px; right: 0; border-radius: 0; margin-left: 10px;

			&:before { border: 5px solid transparent; border-top-color: $red; content: ""; position: absolute; left: -4px; top: 0; bottom: inherit; }

			&.trending { background: $blue;
				&:before { border-top-color: $blue; }
			}

			&.new { background: $green;
				&:before { border-top-color: $green; }
			}

			&.sale { background: $yellow;
				&:before { border-top-color: $yellow; }
			}

		}

		.hide-img-desktop { background-image: none !important;

			a img { display: none; }

		}

		.hide-text-desktop { display: none; }

	  	.mega-menu,
	  	.cd-nav-gallery,
	  	.cd-nav-icons { position: absolute; top: calc(100% + 15px); opacity: 0; width: 80vw; margin: 0 10vw; padding: 30px 0 0; box-shadow: 0 4px 10px rgba(0,0,0,.06); transition: opacity .3s .2s, visibility .3s 0s, top .3s .2s $cb, height .3s $cb; }

	  	.cd-nav-gallery,
	  	.cd-nav-icons { background-color: #fff; }

	  	.mega-menu:after,
	  	.cd-nav-gallery:after,
	  	.cd-nav-icons:after { clear: both; content: ""; display: table; }

	  	.mega-menu.is-hidden,
	  	.cd-nav-gallery.is-hidden,
	  	.cd-nav-icons.is-hidden { visibility: hidden; top: 150%;}

	  	.mega-menu { padding-top: 0; border: 1px solid #eee; border-top: none;

			img.menu-image { position: absolute; }

	  		> li,
			> .row > li { float: left; height: 100%; overflow: hidden; -webkit-overflow-scrolling: touch; border-right: 1px solid rgba(0,0,0,0.07); border-top: 1px solid rgba(0,0,0,0.07); transition: opacity .3s .4s $cb, height .3s $cb;

		  		> a { margin-bottom: 20px; cursor: pointer; padding-left: 20px; padding-right: 20px;

					&.has-img {

						img.menu-image { margin-top: 10px; position: static; }

					}

					&.no-margin { padding: 0 !important; text-indent: 20px; }

					&.no-margin.text-hidden { margin: -30px 0 !important; text-indent: 0;}

					&.text-hidden {

						img.menu-image { margin-top: 0; }

					}

					&.uppercase-text {  font-size: 13px; text-transform: uppercase; opacity: 1; margin-bottom: 10px !important;}

					&.no-link { opacity: 1; cursor: default; pointer-events: none; }

				}

		  		.sub-menu {

		  			li a { text-transform: none; }

		  			li.menu-item-has-children > a:before,
		  			li.menu-item-has-children > a:after { content: ''; display: block; height: 2px; width: 8px; position: absolute; right: 0; top: 50%; transition: all .3s $cb; transform: rotate3d(0,0,1,45deg) translateX(-50%); }

		  			li.menu-item-has-children > a:after { top: calc(50% - 1px); transform: rotate3d(0,0,1,-45deg) translateX(-50%); }

		  		}

		  		&.sub-menu-item { padding: 30px 0;

				  		> a { margin-bottom: 0; }

			  		}

		  		&:last-child { margin-right: 0; border-right: none; }

	  		}

	  		a { display: inline-block; line-height: 18px; padding: 2px 0 1px; border-bottom: none; font-size: 12px; opacity: 0.7; font-weight: normal !important; transition: transform 0.3s $cb, color 0.3s $cb;

		  		img { max-width: 100%; height: auto; }

	  		}

	  		ul { transform: translateZ(0); padding: 0 20px; list-style: none;

		  		ul { position: absolute; top: 0; left: 0; width: 100%;

			  		.go-back { display: block; }

		  		}

		  		ul.is-hidden { transform: translateX(100%); }

	  		}

	  		.moves-out > li > a { transform: translateX(-200%); }

	  	}


	  	.cd-nav-gallery {

	  		li { width: 22%; float: left; margin: 0 4% 40px 0; }

	  		li:last-child { margin-right: 0;  }

	  		.cd-nav-item { border-bottom: none; padding: 0; height: auto; line-height: 1.2;

	  			img { position: static; margin-top: 0; height: auto; width: 100%; margin-bottom: .6em; }

	  			h3 { font-weight: bold; padding: 0 .4em; }

	  		}

	  	}

	  	.cd-nav-icons {

	  		li { width: 32%; float: left; margin: 0 2% 20px 0; }

	  		li:last-child { margin-right: 0; }

	  		.cd-nav-item { border-bottom: none; height: 80px; line-height: 1.2; padding: 24px 0 0 85px; position: relative;

		  		h3 { font-weight: bold; }

		  		p { display: block; }

	  		}

	  		.cd-nav-item:hover { background-color: #f6f6f5; }

	  		.cd-nav-item:before { left: 25px; }

	  	}

	  	.menu-item-has-children:hover {

		  	.mega-menu { opacity: 1 !important; top: 100%; visibility: visible !important;

			  	> li {  }

		  	}
		}

	  	.menu-item-has-children > a:before,
		.menu-item-has-children > a:after { right: 15%; }

		> .menu-item-has-children {

			> a.selected:before,
	  		> a.selected:after { width: 14px; }

	  	}

	  	.mega-menu .menu-item-has-children {

	  		> a { padding-left: 20px; padding-right: 20px; }

	  		> a:before,
	  		> a:after { display: none; }

			> .sub-menu .menu-item-has-children  {

				> a { padding-right: 20px; padding-left: 0; }

			}

	  	}

	  	.go-back {

	  		a { padding-left: 20px; color: transparent !important;

		  		&:before,
		  		&:after { left: 0;  }

		  		&:before { transform: rotate3d(0,0,1,-45deg); }

		  		&:after { transform: rotate3d(0,0,1,45deg); }

				&:hover { color: transparent !important; }

			}

	  	}


	  	.simple-nav.menu-item-has-children { position: relative;

	  		> .sub-menu { @extend .mega-menu; display: block; width: 250px !important; left: 0; right: inherit; min-width: 100%; margin: 0 !important; overflow: hidden; border-top: 1px solid rgba(0,0,0,0.07); padding: 20px 0 13px; opacity: 0;

		  		> li { float: none; width: auto; border: none;  height: auto;

			  		a { margin: 0; height: auto; text-transform: none; position: relative; pointer-events: auto; cursor: pointer; }

					&.sub-menu-item { padding: 0;

						> a { margin-bottom: 0; }

					}
		  		}

		  		li.menu-item-has-children {

			  		> a:before,
		  			> a:after { content: ''; display: block; height: 2px; width: 8px; position: absolute; right: 0; top: 7px; transition: all .3s $cb; transform: rotate3d(0,0,1,45deg); }

		  			> a:after { top: 12px; transform: rotate3d(0,0,1,-45deg); }

					.sub-menu-item {

						> a:before,
			  			> a:after { right: 0 !important; }

					}

		  		}

		  		ul { position: absolute; top: 20px; left: 0; height: auto !important; width: 100%;

			  		.go-back { display: block;

		  				a { padding-left: 20px; }

		  			}

		  		}

		  		ul.is-hidden { transform: translateX(100%); }

	  		}

	  		> .sub-menu.moves-out > li > a { transform: translateX(-100%); }

	  	}

	  	.simple-nav.menu-item-has-children:hover {

	  		> .sub-menu { opacity: 1; top: 100%; visibility: visible !important;	}
		}

	}

	.primary-nav:after { clear: both; display: table; content: ""; }

	.primary-nav.moves-out > li > a { transform: translateX(0); }

	.cd-search { height: 120px; top: 80px;

		input { padding: 0 2em; font-size: 3.2rem; font-weight: 300; }

	}

	/* --------------------------------

	support for no js

	-------------------------------- */

	.no-js .primary-nav { position: absolute; z-index: 3; display: inline-block; width: auto; top: 0; right: 150px; padding: 0; }

	.no-js .nav-is-fixed .primary-nav { position: fixed; }

}
