.woocommerce {

	#toggle-offcanvas-sidebar { font-size: 13px; font-weight: bold; color: #000; text-transform: uppercase; letter-spacing: -0.01em; line-height: 44px; display: inline-block; float: left; margin: 0 20px 0 0; position: relative; padding-left: 30px; cursor: pointer; transition: all .3s $cb; }

	#toggle-offcanvas-sidebar:before { background: none; position: absolute; left: 0; top: 0; width: 20px; height: 3px; border: 1px solid; border-left: none; border-right: none; content: ""; margin-top: 19px; transform: rotate3d(0,0,0,0deg); transition: all .3s $cb !important; }

	#toggle-offcanvas-sidebar:after { @extend #toggle-offcanvas-sidebar:before; top: 4px;}

	.sidebar-open {

		#toggle-offcanvas-sidebar {}

		#toggle-offcanvas-sidebar:before { height: 2px; top: 2px; transform: rotate3d(0,1,1,55deg); }

		#toggle-offcanvas-sidebar:after { @extend #toggle-offcanvas-sidebar:before; transform: rotate3d(0,1,1,-55deg); }

	}

	.products-header { background: #fff; overflow: hidden; margin-bottom: 30px; padding: 0 15px;

		p.woocommerce-result-count { font-size: 15px; color: #000; letter-spacing: -0.02em; margin: 0; padding: 0; line-height: 44px; }

		form { padding: 0; margin: 0 !important; border-left: 1px solid #f7f8f9;

			span.select2 {

				span.select2-selection {

					span.select2-selection__rendered { padding: 25px 40px 22px 20px; }

				}

			}

		}

	}

	ul.products { -webkit-padding-start: 0;

		li.product { background: #fff;text-align: center; padding: 20px 20px 0; margin: 0 3.5% 30px 0; overflow: hidden;

			h3 { font-size: 14px; color: #000; text-transform: uppercase; line-height: 16px; border: none; padding: 0; margin: 20px 0 10px;

				a { color:#000; cursor: pointer; }

				.product-subtitle { text-align: center; padding: 3px 0 0;

					span.subtitle-by { font-size: 12px !important; font-weight: 100 !important; border-right: 1px solid #000; padding: 0 5px 0 0; margin: 0 5px 0 0;

						i { font-size: 11px !important; text-transform: lowercase; }

						a { position: relative; }

						a:hover { text-decoration: underline; }

						a:after { background: none !important; color: #000; content: ","; margin-right: 3px; }

						a:last-child:after { display: none; }

					}

					span.subtitle-by:last-child { border: none; margin: 0; padding: 0; }

					span.variation { font-size: 12px; text-transform: capitalize; color: #000;  }



				}

			}

			span.price { font-size: 18px; font-weight: bold; display: inline-block; text-align: left; padding: 1px 0 0;

				.woocommerce-Price-currencySymbol { font-family: "Myriad Pro", "Trebuchet MS"; font-size: 20px; font-weight: bold; }

				del { font-size: 13px; color: #000 !important; font-weight: normal; margin-bottom: -10px; opacity: 1;

					.woocommerce-Price-currencySymbol { font-size: 14px !important; font-weight: normal; }

				}

				ins { text-decoration: none; }

			}

			span.rating .star-rating { margin: 0; }

			.buttons {

				> div { overflow: hidden; float: right;

					.yith-wcwl-add-to-wishlist,
					> a { float: left; margin: 0; text-align: center; }

				}

			}

			div.badges { z-index: 1;

				span.onsale { background: $green; color: #fff; opacity: 1; position: absolute; top: 20px; left: 50%; right: auto; font-size: 11px; line-height: 12px; margin: 0; text-align: center; z-index: 2; transform: translate3d(-50%,0,0); text-transform: uppercase; letter-spacing: -0.01em; padding: 3px 10px; margin: 0; min-height: inherit; min-width: inherit; border-radius: 0; font-weight: normal; transition: all .3s .3s $cb; }

				span.out-of-stock { @extend span.onsale; background: rgba(255,255,255,0.7); top: 50% !important; left: 50%; color: #000; padding: 0; font-size: 12px; line-height: 12px; width: 70px; height: 70px; margin: -35px 0 0 -35px !important; padding-top: 25px; border-radius: 50%; transform: none; }

			}

			a.img { height: 290px; display: block; margin: 20px 0 0;

				img.attachment-shop_catalog { max-width: 100%; max-height: 290px; width: auto; margin: 0 auto; display: inline-block; position: relative; top: 50%; transform: translate3d(0,-50%,0); }

			}

			a.img[data-stock-class=false] { opacity: 0.5 !important; }

			div.product-slider { width: 100% !important; height: 290px; margin: 20px auto 0; opacity: 0; transition: opacity 350ms $cb; display: block;

				.slick-track {

					.slick-slide { position: relative;

						div.badges span.onsale { top: 0px; }

						a { position: relative; display: block; opacity: 0.5; transform: scale3d(0.9,0.9,0.9); transition: all 400ms $cb; margin: 0;

							img.attachment-shop_catalog { margin-bottom: 0; }

							img.additional-img { max-height: 290px; position: absolute; left: 0; top: 0; bottom: 40px; margin: 0; opacity: 0; transition: opacity 350ms $cb; }

							&:hover {
								img.additional-img { opacity: 1; }
							}

							&:active,
							&:focus { cursor: -webkit-grabbing !important; }

						}

						div.badges { bottom: -13px;

							span { margin: 0 2px; }

						}

						span.price { display: none; }

						&.slick-active,
						&.slick-center {

							a { opacity: 1; transform: scale3d(1,1,1);  }

						}

					}

				}

				.slick-arrow { background: none; height: 100%; width: 16%; border-radius: 0; z-index: 1;

					svg { display: block; opacity: 0; transform: scale3d(.3,.3,.3); transition: all .3s .3s $cb; }

					&.slick-prev { left: 0; }

					&.slick-next { right: 0; }

					&:focus { box-shadow: none; }

				}

			}

			nav.buttons {

				> div { padding: 3px 0 0;

					a { font-size: 22px; line-height: 1; color: #000; cursor: pointer; height: 32px; width: 32px; padding: 0; display: inline-block; }
					a:before { cursor: pointer; line-height: 32px; }

					a.cart_button { font-size: 19px; }
					a.cart_button:before { margin: -1px 0 0; display: inline-block; }
					a.cart_button.out-of-stock:before { opacity: 0.6; color: #000 !important; cursor: not-allowed; }

					a.icon-eye-line,
					a.icon-select-options { font-size: 30px; }

					a.wl-add-link {  }
					a.wl-add-link:before { font-size: 17px; color: #fff; margin-top: 4px; display: block; }

				}

			}
			nav.buttons:before {  }

			.product-overlay { position: absolute; top: 0; left: 0; bottom: 0; right: 0;  z-index: 801; visibility: hidden; opacity: 0; transition: opacity .3s $cb, visibility .3s $cb;

				div.wrap { display: table; width: 70% !important; height: 100%; margin: 0 auto; padding: 30px 0;

					div.container { display: table-cell; vertical-align: middle; margin: 0; padding: 0;

						div.content { background: rgba(0,0,0,0.7); margin: -50px 0 0; transition: margin 350ms $cb;

							h3 { font-size: 11px; line-height: 11px; font-weight: normal; margin: 0; padding: 10px 0 8px; color: #fff; width: 100%; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.1); }

							table { width: 100%;
								tr.option { overflow: hidden; border-bottom: 1px solid rgba(255,255,255,0.1);
									h4 { font-size: 12px; color: #fff; margin: 0; padding: 10px; border: 1px solid rgba(255,255,255,0.1); border-left: none; border-right: none; padding: 4px 0; }
									h4.error { animation: errorPulse 0.7s 2; }

									ul { padding: 3px 3px 5px; margin: 0; clear: none; border-left: 1px solid rgba(255,255,255,0.1);
										li { margin: 5px 0 0; cursor: pointer; display: inline-block; position: relative;
											input { margin: 0 5px 0 0; display: none; }
											label { font-size: 12px; color: #fff; cursor: pointer; font-weight: normal; margin: 0; opacity: 1; transition: opacity 350ms $cb; }
											label.selected { color: $green; }
											label:before,
											label:after { display: none; }
											a { color: #fff; }
										}
										li:hover {
											label { opacity: 0.6; }
											label.selected { opacity: 1; }
										}

										li:after { background: rgba(255,255,255,0.3); content: ""; display: inline-block; width: 3px; height: 3px; border-radius: 50%; margin: 3px 1px 3px 3px; }
										li:last-child:after { display: none; }
									}
								}
							}

							a.button { font-size: 11px !important; padding: 8px 20px !important; width: 88%; background: rgba(255,255,255,0.7) !important; border: none; color: #000; margin: 10px 0; }
						}
					}
				}

				&.open { opacity: 1; visibility: visible;
					div.content { margin-top: 0 !important; }
				}

			}

			.wishlist-options {

				h4 { border: none !important; }

				li { display: block !important;

					a:before { padding: 0 4px 0 0; vertical-align: text-bottom; }

				}

			}
			.wishlist-options li:after { display: none !important; }

			&.product-type-simple a.img { opacity: 0; transition: opacity 350ms $cb; }

			&:hover {

				div.product-slider .slick-arrow svg { opacity: 1; transform: scale3d(.6,.6,.6); }

			}

		}

		.berocket_aapf_widget_loading { z-index: 98; }
	}

	ul.display-3-per-row {

		li.product { width: 31% !important; margin-right: 3.5%; }

		li.product:nth-child(3n) { margin-right: 0; }

		&.product-style-1 div.product-slider .slick-arrow svg { display: none !important; }

	}

	ul.display-4-per-row {

		li.product { width: 22.75% !important; margin-right: 3%; }

		li.product:nth-child(4n) { margin-right: 0; }

	}

	ul.display-5-per-row {

		li.product { width: 18% !important; margin-right: 2.5%; }

		li.product:nth-child(5n) { margin-right: 0; }

	}

	ul.display-6-per-row {

		li.product { width: 15% !important; margin-right: 2%; }

		li.product:nth-child(6n) { margin-right: 0; }

	}

	ul.product-style-1 {

		li.product { border:1px solid #eee !important; box-shadow: inset 2px -2px 0 #eee; padding: 0 0 0 2px !important;

			h3 { height: 35px; }

			div.badges span.onsale { top: 65px; }

			.product-meta { background: #eee; display: table; width: 101%; padding: 0 15px; height: 70px;

				.price-rating,
				.buttons { display: table-cell; vertical-align: middle; }

				.price-rating {

					span.price { display: inherit; margin: 0; }

				}

			}

			div.product-slider .slick-track .slick-slide { max-width: 66%; }

			ul.slick-dots { opacity: 0; transition: all .3s .3s $cb; }

			&:hover {

				ul.slick-dots { opacity: 1; }

			}

			&.product-type-simple a.img { padding: 0 50px; }

		}

	}

	ul.product-style-2 {

		li.product { padding: 0;

			div.product-slider .slick-track .slick-slide { width: 100%; }

			.product-meta { margin-top: 20px; overflow: hidden; height: 63px;

				h3 { font-size: 12px; font-weight: bold; float: left; width: 75%; text-align: left; letter-spacing: 0; margin: 0 0 3px;

					.product-subtitle {  text-align: left; padding: 0; margin: -2px 0 8px; }

				}

				span.price-rating { float: right; width: 25%; text-align: right; margin: -7px 0 0; padding: 0;

					span.price { font-size: 15px; margin: 0;

						.woocommerce-Price-currencySymbol { font-size: 17px; }

					}

					span.rating { display: block; margin: 0;

						.star-rating { margin: 0; float: right; width: 5.1em;

						}

					}

				}

				nav.buttons  { float: left; width: 65%; text-align: left; margin: -13px 0 0; opacity: 0; transition: all .3s .3s $cb;

					> div { float: left; margin: 0 0 0 -6px;

						a.cart_button { margin-right: -6px; }

					}

				}

			}

			ul.slick-dots { opacity: 0; transition: all .3s .3s $cb; }

			&:hover {

				nav.buttons,
				ul.slick-dots { opacity: 1; }

			}

		}

	}

	nav.woocommerce-breadcrumb { font-size: 15px; color: #999; letter-spacing: -0.05em; margin: 20px 0 -15px; padding: 0;

		a { color: #999; }

	}

	#yith-wcwl-popup-message { display: none !important; }

}

.woocommerce.columns-4 ul.products  {

	li.product { width: 23.5%; margin-right: 2%; }
	li.product:nth-child(3n) { margin-right: 2%; }
	li.product:nth-child(4n) { margin-right: 0; }

}

.woocommerce.archive {

	div.select2-container { width: 100% !important;

		a.select2-choice { background: #fff; color: #999 !important; border:1px solid #ccc !important; box-shadow: none !important; border: none; border-radius: 3px !important; font-size: 12px; font-weight: normal; line-height: 1; height: auto; padding: 15px; margin-bottom: 0; text-transform: capitalize; text-align: left;

			.select2-arrow { background: none; border: 1px solid #ccc; border-left: none; border-right: none; width: 7px; height: 5px; right: 15px; top: 19px; border-radius: 0; margin: 0;

				b { display: none; }

			}

			.select2-arrow:before { background: #ccc; width: 7px; height: 1px; right: 0; top: 1px; content: ""; position: absolute; }

		}

		a.select2-choice:hover,
		a.select2-selection:hover { color: #000 !important; box-shadow: inset 1px -1px 0 #000 !important; border-color: #000 !important; }

	}

	.select2-container {

		.select2-dropdown { border-color: #eee;	}
	}

}

#wl-list-pop-wrap { z-index: 800; }


.no-touchevents .woocommerce {

	ul.product-style-1.hide-details {

		li.product { background: transparent; border-color: transparent !important;  box-shadow: inset 2px -2px 0 transparent; margin-bottom: -50px; position: relative; z-index: 1; transition: all .3s .3s $cb;

			h3,
			span.variation,
			.product-meta { opacity: 0; transition: opacity .3s .3s $cb; }

			div.product-slider .slick-track {

				.slick-slide:not(.slick-active) { opacity: 0; transition: opacity .3s .3s $cb; }

				a.img[data-stock-class=false] { opacity: 0; }

			}

			&:hover { border:1px solid #eee !important; box-shadow: inset 2px -2px 0 #eee; z-index: 2;
				h3,
				span.variation,
				.product-meta { opacity: 1; }

				div.product-slider .slick-track {

					.slick-slide:not(.slick-active) { opacity: 1; }

					a.img[data-stock-class=false] { opacity: 0.5 !important; }

				}

			}

		}

		li.product:last-child { margin-bottom: 30px; }

	}

	ul.product-style-2.hide-details {

			li.product .product-meta { opacity: 0; transition: all .3s .3s $cb; }

			li.product:hover .product-meta { opacity: 1; }

	}

}


// MEDIA QUERIES
/* Screen less than or equal to than 768 pixels */
@media only screen and (max-width: 768px) {

	.woocommerce ul.products li.product { width: 46.5% !important; }

}

/* Screen less than or equal to than 420 pixels */
@media only screen and (max-width: 420px) {

	.woocommerce ul.products {

		li.product { width: 100% !important; margin-right: 0% !important; }

	}

}


@keyframes errorPulse {
	from {
		color: $red;
	}
	to {
		color: #fff;
	}
}
