body.woocommerce table.wishlist_table { 
	
	tbody {
		
		tr {
			
			td.product-name {
			
				a { font-size: 14px; color: #000; letter-spacing: -0.01em; transition: color .3s $cb;
				
					img { margin-right: 30px; }
					
					span.desc { display: inline-block;  vertical-align: middle;
					
						span.name { display: block; line-height: 1; }
						
						span.dateadded { font-size: 11px; color: #999 !important; font-weight: bold; letter-spacing: -0.01em; }
						
					}
					
				}
				
			}
			
			td.product-price {
				
				span { color: #999; letter-spacing: -0.01em; }
				
				del { color: $red; display: block; line-height: 1;
					
					span { color: $red; }
					
				}
				
				ins { display: block; text-decoration: none; }
				
			}
			
			td.product-add-to-cart { text-align: right; padding-right: 0;
				
				nav.buttons { display: inline-block; vertical-align: middle;
			
					> div { padding: 3px 0 0; overflow: hidden;
						
						> a { display: inline-block !important; float: left; margin: 0 5px; text-align: center; }
				
						a { background: none !important; font-size: 22px !important; line-height: 1; color: #000; cursor: pointer; height: 32px; width: 32px; padding: 0 !important; display: inline-block !important; }
						a:before { cursor: pointer; line-height: 32px; }
						
						a.cart_button:before { margin: -2px 0 0; display: inline-block; }
						a.cart_button.out-of-stock:before { opacity: 0.6; color: #000 !important; cursor: not-allowed; }
						a.cart_button.icon-select-options:before { margin-top: -1px; }
						
						a.icon-eye-line,
						a.icon-select-options { font-size: 36px !important; }
						
						a.icon-eye-line,
						.yith-wcwl-add-to-wishlist { display: none !important; }
						
					}
					
				}
				
				.remove_from_wishlist { display: none !important; }
				
			}
		
			td.product-remove { padding: 20px; padding-left: 0; 
				
				a.remove { background: 0 0; font-size: 0; color: #fff !important; display: inline-block; padding: 10px 5px; width: auto; height: auto; }
				
				a.remove:before { font-family: 'fonticon' !important; font-size: 26px; color: #000 !important; display: block;  width: 26px; font-style: normal !important; font-weight: 400 !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -moz-osx-font-smoothing: grayscale; content: "\48"; transition: color .3s $cb; }
				
				a.remove:hover:before { color: $red !important; }
				
			}
			
		}
		
	}
	
	tfoot {
		
		tr td { border-color: #f2f3f3;
	
			.yith-wcwl-share { margin: 0;
				
				h4,
				ul { display: inline-block; margin: 10px; vertical-align: bottom; }
				
			}	
			
		}
		
	}
	
}

#yith-wcwl-form .woocommerce-message { background: #f2f3f3; }


/* Screen less than or equal to than 650 pixels */
@media only screen and (max-width: 650px) {

	.woocommerce table.shop_table.wishlist_table {
		
		thead { display: none; }
		
		tbody {
			
			td.product-price { display: none; }
			
		}
		
	}

}

/* Screen less than or equal to than 500 pixels */
@media only screen and (max-width: 500px) {

	.woocommerce table.shop_table.wishlist_table {
		
		tbody {
			
			td.product-stock-status { display: none; }
			
		}
		
	}

}